#floating-panel
  input#address type="text" value="#{location}"
  input#submit-geocode type="button" value="Geocode"

#map
script{
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPzhFjpxfq-EYMcM6giSgAl20s7JOiqD4&callback=initMap"
  }
