<div id="floating-panel">
  <input id="address" type="textbox" value="<%= @resource.location %>">
  <input id="submit" type="button" value="Geocode">
</div>
<div id="map"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPzhFjpxfq-EYMcM6giSgAl20s7JOiqD4&callback=initMap&markers=<%= @resource.location %>">
</script>
