default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  password: password
development:
  <<: *default
  database: diplom_development
test:
  <<: *default
  database: diplom_test
production:
  <<: *default
  database: diplom_production
  username: diplom
  password: <%= ENV['DIPLOM_DATABASE_PASSWORD'] %>
