.posts.index {
  figure {
    img {
      display: block;
    }
    overflow: hidden;
    width: 850px;
    height: 400px;
  }

  .popular-image {
    width: 66px;
    height: 66px;
  }

  .comments-image {
    width: 52px;
    height: 52px;
  }
}

