.posts.index {
  figure {
    img {
      display: block;
    }
    overflow: hidden;
    width: 850px;
    height: 400px;
  }
  .galary li{
    width: 66px;
    height: 66px;
    overflow: hidden;
    img{
      display: block;
    }
  }

  .comments-image {
    width: 52px;
    height: 52px;
  }
}

